body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(59, 96, 104);
}
section {
    width: 20%;
    align-items: center;
    text-align: center;
    transform: translate(45rem, 15rem);
    background-color: aliceblue;
    height: 15rem;
    border: 1px solid rgb(115, 227, 216);
    border-radius: 20px;
    box-shadow: 5px 5px 10px cornflowerblue;
}
.inside{
    transform: translate(10px, 40px);
}
button.btn {
    background-color: rgb(59, 96, 104);
    color: white;
    border: 1px solid #05054d;
    border-radius: 5px;
    width: 20%;
    padding: 10px;
    transition: all 0.4s ease-in;
}
button.btn:hover{
    padding: 15px;
    width: 23%;
    box-shadow: 5px 5px 10px cornflowerblue;
}
